body{
    margin: 0;
    padding: 0;
}
.navbar p{
    font-size: 30px;
    text-align: center;
    width: 100%;
    
}
.navbar-bg{
    border-top: 1px solid;
}

.information-user{
    background-color:white;
}
.information-address{
    
    background-color:white;
    margin-top: 2px;
}

.information-address-item{
    border: 1px solid rgb(128, 126, 126);
    border-radius: 10px;
    
}
.information-user h3{
    margin-left: 10px;
}
.information-user p{
    margin-left: 10px;
}
.information-address-text {
    margin-left: 10px;
}
.information-address-text p{
    color: #9ccb65
}
.address-user li+li:before {
    padding-right: 1px;
    color: black;
    content: "\  |  ";
    font-size: 17px;
    
}

.name-user li{
    list-style: none;
    display: inline;
    
}
.payment{
    background-color:white;
}
.payment h3{
    margin-left: 10px;
    padding-bottom: 30px;
    
}
.checkbox{
    margin-left: 10px;
    padding-bottom: 30px;
}
.total-items{
    color:#9ccb65;
    margin-left: 10px;
}
.Purchase{
    background-color:white;
    margin-top: 2px;
}
.Purchase p{
    margin-left:10px;
}
.box.box-flex {
    display: flex;
    justify-content: flex-end;
}
.zmp-btn-primary {
    background-color: #9ccb65;
}
